h3 {
    /* login/register/forget_pass.html */
    margin-bottom: 1em;
}

small {
    font-weight: 100;
}

.con-form, .con-index {
    margin-top: 5%;
}

.welcome-form
{
    padding: 3em;
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.row {
    margin-top: 0.5em;
}

.row-btn {
    /* set specific margin for the button's div row*/
    margin-top: 1em;
    margin-bottom: 1em;
}

.btn, .btn-primary {
    /* overwrite bootstrap setting*/
    font-weight: 100;
}

.pretty {
    /* set top margin */
    margin-top: 0.5em;
}

/* welcome/view.html */
.con-index {
    max-width: 960px;
    flex-wrap: wrap;
}
.card > * {
    margin: auto;
    text-align: center;
}

/* login/register/bill_add.html */
.con-form {
    max-width: 540px;
}

/* bill_view.html */
.modal-header {
    display: none;
}
