@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

html {
    font-family: 'Noto Sans TC', sans-serif !important;
    font-weight: 100;
}

nav .navbar-brand {
    font-size: large;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
}

.navbar-collapse, .nav {
    font-size: medium;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 100;
}

.form-group, .form-control, .form-text, .btn, .alert {
    font-size: 14px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 100;
}

.form-text {
    font-size: x-small;
}

main .form-control {
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main {
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

p, .p-mimic {
    font-family: 'Noto Sans TC', sans-serif !important;
    font-weight: 100;
}

.table-left {
    text-align: left;
}

.warning {
    color: red;
}

main img {
    /* constrain images on small screens */
    max-width: 100%;
}

body {
    background-color: rgb(189, 245, 189);
}

.modal-dialog, .table {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 100;
}

.modal-header {
    display: none;
}

.a-mimic {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.a-mimic:hover {
    color: #0056b3;
    text-decoration: underline;
    cursor: pointer;
}

#t-bottom-line { 
    /* in setting.html */
    border-collapse: collapse;
    border-bottom: 1px solid black;
}

footer {
    font-size: xx-small;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}