.row {
    margin-top: 0.5em;
}

.row-btn {
    /* set specific margin for the button's div row*/
    margin-top: 1em; 
    margin-bottom: 1em;
}

.btn, .btn-primary {
    /* overwrite bootstrap setting*/
    font-weight: 100;
}

.pretty {
    /* set top margin */
    margin-top: 0.5em;
}

/* welcome/view.html */
.con-index {
    max-width: 960px;
    flex-wrap: wrap;
}
.card > * {
    margin: auto;
    text-align: center;
}
.card-img-top {
    width: 100%;
    height: auto;
}

/* login/register/add.html */
.con-form {
    max-width: 540px;
}

/* other mics */
.warning {
    color: red;
}

.modal-header {
    display: none;
}

.a-mimic {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.a-mimic:hover {
    color: #0056b3;
    text-decoration: underline;
    cursor: pointer;
}

footer {
    font-size: xx-small;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}