{% extends "layout.html" %}

{% block title %}
    新增帳目
{% endblock %}

{% block main %}
    <form action="/add" method="post">
        <div class="form-group">
            <select class="form-control" name="group" autofocus required>
                <option selected disabled value="">帳目組別</option>
                {% for key, value in groupName.items() %}
                <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
            </select>
            
            <input class="form-control" type="number" name="amount" min="1" style="width: 7em"  
            placeholder="金額" required autocomplete="off">
            
            <input class="form-control" type="text" name="notes" maxlength="32" size="32" 
            placeholder="備註 (最多32中文字)" autocomplete="off">
        </div>

        <input class="form-control" type="date" name="dateStamp">

        <br><br>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">記帳</button>
        </div>
    </form>
{% endblock %}