{% extends "layout.html" %}

{% block title -%}
    記帳
{%- endblock %}

{% block nav %}
    {% include "nav.html" %}
{% endblock %}

{% block main %}
    {% if error %}
        <div class="alert alert-warning" role="alert">
            {{ error }}
        </div>
    {% endif %}

    <div class="container con-form">
        <form action="/bill/add" method="post">
            <div class="row">
                <select class="form-control" name="group" autofocus required>
                    <option selected disabled value="">帳目組別</option>
                    {% for key, value in group_name.items() %}
                    <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="row">
                <input class="form-control" type="text" name="notes" maxlength="32" size="32"
                placeholder="內容敘述 (最多32字)" autocomplete="off">
            </div>

            <div class="row">
                <input class="form-control" type="number" name="amount" min="1" max="2147483647"
                placeholder="金額" autocomplete="off" required>
            </div>

            <div class="row">
                <div class="col">
                    <div class="pretty p-default p-round">
                        <input class="form-control" type="radio" name="dateSelect" value="today" checked>
                        <div class="state p-primary-o"><label>今天</label></div>
                    </div>
                </div>
                <div class="col">
                    <div class="pretty p-default p-round">
                        <input class="form-control" type="radio" name="dateSelect" value="selected">
                        <div class="state p-primary-o"><label>其他日期：</label><span class="text-primary" id="hint"></span></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <input class="form-control" type="date" name="dateStamp" id="dateStamp"> ## calender
                </div>
            </div>

            <div class="row row-btn justify-content-center">
                {% if session.role != "guest" %}
                    <button class="btn btn-primary btn-lg btn-block" type="submit">記帳</button>
                {% else %}
                    <button class="btn btn-primary btn-lg btn-block">記帳(偽)</button><br>
                    <small>提示：體驗版帳號即使按下記帳按鈕，也不會新增任何帳目資料。</small>
                {% endif %}
            </div>
        </form>
    </div>

    <script>
        var today;
        $(function() {
            today = moment().format(moment.HTML5_FMT.DATE);
            var yearago = moment().add(-1, 'y').format(moment.HTML5_FMT.DATE);
            $("#dateStamp").attr({
                "value": today,
                "min": yearago,
                "max": today
            });
        });
        $(
            $("#dateStamp").hide()
        );

        $("input[name='dateSelect']").on("change", function() {
            var selected = $("input[name='dateSelect']:checked").val();
            if (selected == "today") {
                $("#dateStamp").hide();
                $("#dateStamp").val(today);
                $("#hint").html("");
            }
            if (selected == "selected") {
                $("#dateStamp").val("");
                $("#dateStamp").show();
            }
        });

        $("form").submit(function() {
            if (!$("#dateStamp").val()) {
                $("#hint").html("請選擇日期");
                return false
            }
            else {
                $("#hint").html("");
            }
        });
    </script>
{% endblock %}