{% extends "layout.html" %}

{% block title -%}
    瀏覽||編輯
{%- endblock %}

{% block nav %}
    {% include "nav.html" %}
{% endblock %}

{% block main %}

<div class="container con-index">
    <div class="" role="alert" id="hintBox"><span id="hintText"></span></div>
    <div class="row">
        ## date selector part
        <div class="col-lg-6 col-sm-6" id="search">
            <div class="row">
                <div class="pretty p-default p-round">
                    <input class="form-control" type="radio" name="dateSelect" value="thisday">
                    <div class="state p-primary-o"><label>本日</label></div>
                </div>
                <div class="pretty p-default p-round">
                    <input class="form-control" type="radio" name="dateSelect" value="thisweek">
                    <div class="state p-primary-o"><label>本週</label></div>
                </div>
                <div class="pretty p-default p-round">
                    <input class="form-control" type="radio" name="dateSelect" value="thismonth">
                    <div class="state p-primary-o"><label>本月</label></div>
                </div>
                <div class="pretty p-default p-round">
                    <input class="form-control" type="radio" name="dateSelect" value="userselect">
                    <div class="state p-primary-o"><label>自選區間</label></div>
                </div>
            </div>
            <div class="row" id="dateselector" style="display: block;">
                <div class="row">
                    <input class="form-control col-lg-6 col-sm-6" type="date" name="start" id="start" style="margin-left: 15px;">
                </div>
                <div class="row">
                    <input class="form-control col-lg-6 col-sm-6" type="date" name="end" id="end" style="margin-left: 15px;">
                </div>
            </div>
            <div class="row">
                {% for key, value in group_name.items() %}
                <div class="pretty p-default p-round" name="selectedGroup">
                    <input type="checkbox" value="{{ value }}" id="{{ key }}" checked>
                    <div class="state p-primary-o">
                        <label for="{{ key }}">{{ value }}</label>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row row-btn col-lg-8 col-sm-6">
                <button class="btn btn-primary btn-block" type="button" id="sendTime">篩選</button>
            </div>
        </div>

        ## edit part
        <div class="col-lg-6 col-sm-6" id="editForm">
            <div class="row"><input class="form-control" type="date" id="ediDate"></div>
            <div class="row">
                <select class="form-control" id="ediGroup">
                    <option selected value="">組別</option>
                    {% for key, value in group_name.items() %}
                    <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row">
                <input class="form-control" type="text" id="ediNote" maxlength="32" placeholder="花費內容 (最多32字)" autocomplete="off">
            </div>
            <div class="row">
                <input class="form-control" type="number" id="ediAmount" min="1" max="2147483647" placeholder="金額" autocomplete="off">
            </div>
            <div class="row row-btn">
                <div class="col">
                    <button class="btn btn-primary btn-block" id="toUpdate" style="margin-right: 1em;" onclick="recordEdit(trID)">修改</button>
                </div>
                <div class="col">
                    <button class="btn btn-secondary btn-block" style="margin-right: 1em;" onclick="cancelEdit()">算了</button>
                </div>
                <div class="col">
                    <button class="btn btn-light btn-block" id="trashIcon" data-toggle="modal" data-target="#deleteConfirm">刪除</button>
                </div>
            </div>
        </div>
    </div>

    ## table part
    <div class="row" style="margin-top: 2em;">
        <table class="table table-sm" id="result">
            <thead>
                <th scope="col" class="descend" id="sortDate" onclick="sortRow(0, 'sortDate')">
                    日期
                    <i class="fas fa-sort fa-sm"></i>
                </th>
                <th scope="col">組別</th>
                <th scope="col">花費內容</th>
                <th scope="col" class="ascend" id="sortAmount" onclick="sortRow(3, 'sortAmount')">
                    金額
                    <i class="fas fa-sort fa-sm"></i>
                </th>
            </thead>
            <tbody id="row"></tbody>
            <tfoot id="subTotal"></tfoot>
        </table>
        ## flag for sorting
        <input type="hidden" id="order" value="asc">
    </div>

    ## delete row confirm dialog box
    <div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="deleteRowLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="deleteRowLabel">確定嗎？</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    真的要刪掉這筆紀錄嗎？<br>
                    提醒：資料刪掉後是無法復原的 (;ﾟдﾟ)σ
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closed">算了</button>
                    <button type="button" class="btn btn-primary" id="deleteBill">確定刪除</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/bill_view.js?version=9"></script>

{% endblock %}