{% extends "layout.html" %}

{% block title -%}
    非常抱歉
{%- endblock %}

{% block nav %}
    {% include "nav.html" %}
{% endblock %}

{% block main %}
    <div class="container con-form">
        {% if code == 404 %}
        <div class="row">找不到URL列輸入的網頁內容，<br>不過希望這個網頁APP可以幫助您找到記帳的動力。</div>
        {% elif code == 500 %}
        <div class="row">目前有點狀況，請試試重新整理，或先回到首頁。</div>
        {% endif %}
        <div class="row row-btn"><button class="btn btn-primary" onclick="location.href='/'">回首頁</button></div>
    </div>
{% endblock %}