{% extends "layout.html" %}

{% block title -%}
    狀態
{%- endblock %}

{% block nav %}
    {% include "nav.html" %}
{% endblock %}

{% block main %}
    <div class="container con-form">
        {% if not session.verified %}
        <div class="row border-bottom">
            <p>
                帳號<span class="text-primary">{{ username -}}</span>還沒被啟動，<br>
                請至<span class="text-primary">{{ email }}</span>收信，點擊信中的網址來啟動帳號。
            </p>
        </div>
        <div class="row">
            <p>
                <span id="AuthMail">沒有收到認證信？<br>
                請<a href="/token/sent" id="sendAuthMail">點此</a>來重新發送帳號認證信件。</span>
            </p>
        </div>
        {% else %}
            {% if request.args.get("verify") %}
            <div class="row">
                <p class="text-primary">帳號認證完成(ゝ∀･)b</p>
            </div>
            {% endif %}

            {% if not session.targets %}
            <div class="row">
                <p>
                    還沒設定目標物與金額？<a href="/setting#unit">點此</a>來進行設定。<br>
                    <small>設定完成後，首頁才能把您的記帳金額轉換成實際物品唷(ゝ∀･)⌒☆</small>
                </p>
            </div>
            {% else %}
            <div class="row">
                <span id="withMonth">
                    <span id="current">本月</span>的累積消費金額為：<span class="text-primary" id="monthBill">{{ amount }}</span>元。<br>
                    <span id="targets">大約是<span id="percentage" class="text-primary">{{ percentage }}</span>
                    {%- for item in targets -%}
                        <span class="text-primary">{{ item }}</span>
                    {%- endfor -%}
                    。</span>
                </span>
                <span id="noMonth"></span>
            </div>
            <div class="row" style="margin-top: 1em;">
                <span>查詢其他月份記錄：</span>
                <input class="form-control" type="month" id="calender" style="margin-top: 0.2em; max-width: 50%;">
            </div>
            {% endif %} ## close session.targets
        {% endif %} ## close session.verified
    </div>

    <script>
        $("#sendAuthMail").on("click", function() {
            $("#AuthMail").text("重新確認中……");
        });

        // hide target if no bill(amount is 0) when page is loaded
        $(function() {
            var monthBill = $("#monthBill").val();
            if (monthBill == ("0" || 0)) {
                $("#targets").hide();
            }
        });

        // set calender time
        var thisMonth = null;
        $(function() {
            var t = new Date();
            var YYYY = t.getFullYear();
            var MM = t.getMonth()+1; // getMonth() is zero-based
            console.log(typeof MM); //
            if (MM < 10) {
                MM = "0"+MM;
                console.log(typeof MM); //
            }
            thisMonth = YYYY+"-"+MM;

            $("#calender").attr({
                value: thisMonth,
                min: (YYYY-1)+"-"+MM,
                max: thisMonth
            });
        });

        $("#calender").on("change", function() {
            var date = $("#calender").val();
            if (date == thisMonth) {
                $("#withMonth").show();
                $("#current").text("本月");
                $("#noMonth").text("");
            }
            else {
                var t = new Date($("#calender").val());
                var MM = t.getMonth()+1;
                $("#withMonth").show();
                $("#current").text(MM+"月");
                $("#noMonth").text("");
            }

            if (date == "") {
                $("#noMonth").text("請選擇查詢月份↓");
                $("#monthBill, #percentage").text("0");
                $("#targets, #withMonth").hide();
            }
            else {
                $.ajax({
                    url: "/bill/query/month",
                    type: "POST",
                    data: JSON.stringify({"date": date}),
                    dataType: "json",
                    contentType: "application/json",
                    success: function(result) {
                        if (result["amount"] == 0) {
                            //no bill(s) in this month
                            $("#monthBill, #percentage").text("0");
                            $("#targets").hide();
                        }
                        else {
                            $("#targets").show();
                            $("#monthBill").text(result["amount"]);
                            $("#percentage").text(result["percentage"].toFixed(2));
                        }
                    }
                });
            }
        });
    </script>
{% endblock %}