{% extends "layout.html" %}

{% block title -%}
    狀態
{%- endblock %}

{% block nav %}
    {% include "nav.html" %}
{% endblock %}

{% block main %}
    <div class="container con-form">
        {% if not session.verified %}
        <div class="row">
            帳號"{{ username }}"還沒被啟動，請至{{ email }}收信，點擊信中提供的網址來啟動帳號。
            <span id="AuthMail">沒有收到認證信？請<a href="/gen_token" id="sendAuthMail">點此</a>來重新發送帳號認證信件。</span>
        </div>
        {% else %}
            {% if not session.targetamount %}
            <div class="row">
                還沒設定目標金額？<a href="/setting#targetAmount">點此</a>來進行設定。
            </div>
            {% else %}
            <div class="row">
                <span id="current">本月</span>的累積消費金額為：<span class="text-primary" id="monthBill">{{ amount }}</span>元，
                <span id="targets">大約是<span id="percentage" class="text-primary">{{ percentage }}</span>
                {%- for item in targets -%}
                    <span class="text-primary">{{ item }}</span>
                {%- endfor -%}
                。</span>
            </div>
            <div class="row" style="margin-top: 1em;">
                查詢其他月份：
            </div>
            <div class="row">
                <input class="form-control" type="month" id="calender">
            </div>
            {% endif %}
        {% endif %}
    </div>

    <script>
        $("#sendAuthMail").on("click", function() {
            $("#AuthMail").text("重新確認中……");
        });

        // set calender time
        var thisMonth = null;
        $(function() {
            var t = new Date();
            var YYYY = t.getFullYear();
            var MM = t.getMonth()+1; // getMonth() is zero-based
            thisMonth = YYYY+"-"+MM;

            $("#calender").attr({
                value: thisMonth,
                min: (YYYY-1)+"-"+MM,
                max: thisMonth
            });
        });

        $("#calender").on("change", function() {
            var date = $("#calender").val();
            
            if (date == thisMonth) {
                $("#current").text("本月");
            }
            else {
                var t = new Date($("#calender").val());
                var MM = t.getMonth()+1;
                $("#current").text(MM+"月");
            }

            if (date == "") {
                $("#monthBill, #percentage").text("0");
                $("#targets").hide();
            }
            else {
                $.ajax({
                    url: "/queryMonthSum",
                    type: "POST",
                    data: JSON.stringify({"date": date}),
                    dataType: "json",
                    contentType: "application/json",
                    success: function(result) {
                        if (result["amount"] == 0) {
                            //no bill(s) in this month
                            $("#monthBill, #percentage").text("0");
                            $("#targets").hide();
                        }
                        else {
                            $("#targets").show();
                            $("#monthBill").text(result["amount"]);
                            $("#percentage").text(result["percentage"].toFixed(2));
                        }
                    }
                });
            }
        });
    </script>
{% endblock %}