{% extends "layout.html" %}
{% from "macro.html" import username,password,button %}

{% block title -%}
    登入
{%- endblock %}

{% block main %}
    {% if error %}
        <div class="alert alert-warning" role="alert">{{ error }}</div>
    {% endif %}
    <div class="container con-form">
        <form action="/login" method="post">
            <div class="row">
                帳號：<span id="hint">查無帳號"<span id="id"></span>"，<a href="/register">去註冊？</a></span>
            </div>
            <div class="row">
                {{ username() }}
            </div>
            <div class="row">密碼：</div>
            <div class="row">
                {{ password("password","password","輸入密碼") }}
            </div>
            
            <div class="row row-btn">
                {{ button("submit","submit","登入") }}
            </div>
            
            <div class="row">
                <small><a href="/forget">忘記密碼</a> || 還沒有帳號？<a href="/register">去註冊</a> || <a href="/">回首頁</a></small>
            </div>
        </form>
    </div>
    
    <script>
        $($("#hint").hide());

        $("#username").on("change", function() {
            var username = $('#username').val();
            $.ajax({
                url: "/newUser",
                type: "GET",
                data: {"username": username},
                dataType: "json",
                contentType : "application/json",
                success: function(result){
                    if (result == true) {
                        $("#hint").show();
                        $("#id").html(username);
                        $("#submit").attr("disabled", true);
                    }
                    else {
                        $("#hint").hide();
                        $("#submit").attr("disabled", false);
                    }
                },
            });
        });
    </script>
{% endblock %}