<nav class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand" href="/">
        訂製單位
    </a>
    <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        {% if session.id and session.verified %}
            <ul class="navbar-nav mr-auto mt-2" id="ulLeft">
                <li class="nav-item"><a class="nav-link" href="/add">新增</a></li>
                <li class="nav-item"><a class="nav-link" href="/view">瀏覽||編輯</a></li>
                <li class="nav-item"><a class="nav-link" href="/setting">設定</a></li>
            </ul>
            <ul class="navbar-nav ml-auto mt-2" id="ulRight">
                <li class="nav-item"><a class="nav-link" href="/logout">登出</a></li>
            </ul>
        {% elif session.id %}
            <ul class="navbar-nav ml-auto mt-2" id="ulRight">
                <li class="nav-item"><a class="nav-link" href="/logout">登出</a></li>
            </ul>
        {% else %}
            ## pass
        {% endif %}
    </div>
</nav>