{% extends "layout.html" %}

{% block title -%}
    重置密碼
{%- endblock %}

{% block main %}
    <div class="container con-form">
    {% if not session.reset %}
        <p>重置過程出現問題，請回到首頁再次嘗試進行重設密碼的需求，謝謝。</p>
    {% else %}
        {% if session.error %}
            <div class="alert alert-warning" role="alert">
                {{ session.error }}
            </div>
        {% endif %}
        <p>請輸入新密碼與確認密碼 (長度限制8-24字、數字英文各1)</p>
        <form action="/reset" method="post">
            <div class="form-group">
                <input class="form-control" type="password" autocomplete="off" name="password" 
                placeholder="新的密碼" minlength="8" maxlength="24" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="password" autocomplete="off" name="confirmation"
                placeholder="確認密碼" minlength="8" maxlength="24" required>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">更改密碼</button>
            </div>
        </form>
    {% endif %}
    </div>
{% endblock %}