{% extends "layout.html" %}

{% block title %}
    重置密碼
{% endblock %}

{% block main %}
    {% if not session.reset %}
        <p>重置過程出現問題，請回到首頁再次嘗試進行重設密碼的需求，謝謝。</p>
    {% else %}
        {% if session.error %}
            <div class="alert alert-warning" role="alert">
                {{ session.error }}
            </div>
        {% endif %}
        <form action="/reset" method="post">
            <div class="form-group">
                <input class="form-control" type="password" autocomplete="off" name="password" id="pass1" 
                placeholder="請輸入 (長度限制8-24字)" minlength="8" maxlength="24">
                <input class="form-control" type="password" autocomplete="off" name="confirmation" id="pass2" 
                placeholder="新密碼 (數字英文各1)" minlength="8" maxlength="24">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">更新</button>
            </div>
        </form>
    {% endif %}    
{% endblock %}