{% extends "layout.html" %}

{% block title %}
    使用者註冊
{% endblock %}

{% block main %}
    <div class="alert alert-warning" role="alert" id="hintBox"><span id="hintText"></span></div>

    <form action="/register" method="post">
        <div class="form-group">
            <input autofocus class="form-control" type="text" autocomplete="off" 
            name="username" id="username" placeholder="使用者名稱" required
            onchange="validUsername()">
            <small class="form-text text-muted">長度限制8-16字，至少包含1個英文與1個數字</small>
        </div>
        
        <div class="form-group">
            <input class="form-control" type="password" autocomplete="off" 
            name="password" id="pass1" placeholder="密碼" required onchange="validPass()">
        </div>
        
        <div>
            <input class="form-control" type="password" autocomplete="off" 
            name="confirmation" id="pass2" placeholder="確認密碼" required onchange="confPass()">
            <small class="form-text text-muted">長度限制8-24字，至少包含1個英文與1個數字</small>
        </div>

        <br>
        <div class="form-group">
            <button class="btn btn-primary" type="submit" id="submit">註冊</button>
        </div>
    </form>

    <script>
        $(document).ready(
            $("#hintBox").hide()
        );

        function validUsername() {
            var username = $('#username').val();
            $.ajax({
                type: "GET", //send by "get" method
                url: "/checkUser",
                data: {"username": username},
                dataType: "json",
                contentType : "application/json",
                success: function(result){
                    if (result == "nameContFail") {
                        $("#hintBox").show();
                        $("#hintText").html("帳號內容不符合規範");
                        $("#submit").attr("disabled", true);
                    }
                    if (result == "userExist") {
                        $("#hintBox").show();
                        $("#hintText").html("這個帳號名稱已經有人使用過了，請換一個");
                        $("#submit").attr("disabled", true);
                    }
                    if (result == "lenFail") {
                        $("#hintBox").show();
                        $("#hintText").html("帳號長度不符合規範");
                        $("#submit").attr("disabled", true);
                    }
                    if (result == true) {
                        $("#hintBox").hide();
                        $("#submit").attr("disabled", false);
                    }
                },
            });
        }

        function validPass() {
            var pass1 = $('#pass1').val();
            $.ajax({
                url: "/checkPass",
                type: "POST",
                data: JSON.stringify({"pass1": pass1}),
                dataType: "json",
                contentType : "application/json",
                success: function(result) {
                    if (result == "nameContFail") {
                        $("#hintBox").show();
                        $("#hintText").html("密碼內容不符合規範");
                        $("#submit").attr("disabled", true);
                    }
                    if (result == "lenFail") {
                        $("#hintBox").show();
                        $("#hintText").html("密碼長度不符合規範");
                        $("#submit").attr("disabled", true);
                    }
                    if (result == true) {
                        $("#hintBox").hide();
                        $("#submit").attr("disabled", false);
                    }
                },
            });
        }

        function confPass() {
            var pass1 = $('#pass1').val();
            var pass2 = $('#pass2').val();
            if (pass1 == pass2) {
                $("#hintBox").hide();
                $("#submit").attr("disabled", false);
            }
            else {
                $("#hintBox").show();
                $("#hintText").html("密碼與確認密碼的內容不同");
                $("#submit").attr("disabled", true);
            }
        }
    </script>
{% endblock %}