{% extends "layout.html" %}

{% block title %}
    設定
{% endblock %}

{% block main %}

    <div class="" role="alert" id="hintBox">
        <span id="hintText"></span>
    </div>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <td><label for="targetAmountSpan">金額</label></td>
                <td><span id="targetAmountSpan">{{ targetAmount }}</span><span>元</span></td>
                <td>
                    <input class="form-control" name="targetGroup" id="targetAmount" type="number" 
                    placeholder="最少為1元" min="1">
                </td>
                <td>
                    <button class="btn btn-primary" type="button" onclick="updateTargets('targetAmount')">更新</button>
                </td>
            </tr>
            <tr>
                <td><label for="targetSpan">代表金額的目標</label></td>
                <td><span id="targetSpan">{{ target }}</span></td>
                <td>
                    <input class="form-control" name="targetGroup" id="target" type="text" 
                    placeholder="例子：iPad" maxlength="24">
                </td>
                <td>
                    <button class="btn btn-primary" type="button" onclick="updateTargets('target')">更新</button>
                </td>
            </tr>
            <tr>
                <td><label for="targetUnitSpan">目標的單位</label></td>
                <td><span id="targetUnitSpan">{{ targetUnit }}</span></td>
                <td>
                    <input class="form-control" name="targetGroup" id="targetUnit" type="text" 
                    placeholder="例子：臺" maxlength="8">
                </td>
                <td>
                    <button class="btn btn-primary" type="button" onclick="updateTargets('targetUnit')">更新</button>
                </td>
            </tr>

            <tr>
                <td><label for="gNames">更新帳目分組名稱</label></td>
                <td>
                    <select class="form-control" id="gNames">
                        <option selected disabled value="">先選擇組別</option>
                        <option id="op0" value="g0">{{ groupName[0] }}</option>
                        <option id="op1" value="g1">{{ groupName[1] }}</option>
                        <option id="op2" value="g2">{{ groupName[2] }}</option>
                        <option id="op3" value="g3">{{ groupName[3] }}</option>
                    </select>
                </td>
                <td><input class="form-control" id="updateName" type="text" placeholder="再輸入自訂名稱" maxlength="24"></td>
                <td><button class="btn btn-primary" type="button" onclick="updateName()">更新</button></td>
            </tr>

            <tr>
                <td>
                    <lable for="pass1">更新密碼</lable><br>
                </td>
                <td>
                    <input class="form-control" type="password" autocomplete="off" name="password" id="pass1" 
                    placeholder="密碼 (長度限制8-24字)" minlength="8" maxlength="24">
                </td>
                <td>
                    <input class="form-control" type="password" autocomplete="off" name="confirmation" id="pass2" 
                    placeholder="確認 (數字英文各1)" minlength="8" maxlength="24">
                </td>
                <td><button class="btn btn-primary" type="button" onclick="updatePass()">更新</button></td>
            </tr>
        </tbody>
    </table>

    <script src="/static/setting-js.js?version=0"></script>
{% endblock %}