{% extends "layout.html" %}

{% block title %}
    table test
{% endblock %}

{% block main %}
    
    bills: {{bills}} <br>
    gNames: {{gNames}}
    <hr>

    <table class="table">
        <tr class="thead-light">
            <th>分組</th>
            <th>金額</th>
            <th>備註</th>
            <th>年</th>
            <th>月</th>
            <th>日</th>
            <th>時</th>
            <th>分</th>
        </tr>
        {% for item in bills %}
        <tr>
            <th>{{gNames[item[2]]}}</th>
            {% for i in range(3, 10) %}
            <th>{{item[i]}}</th>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

{% endblock %}