{% extends "layout.html" %}

{% block title -%}
    認證未完成
{%- endblock %}

{% block nav %}
    {% include "nav.html" %}
{% endblock %}

{% block main %}
    {% if not status %}
        <p>收到這組token的信箱並沒有註冊過本服務，請回到首頁進行新使用者註冊，謝謝。</p>
    {% else %}
        {% if status == "token無效" %}
            <p>唔……這組token有點問題</p>
        {% elif status == "token過期" %}
            <p>非常抱歉，這組token過期了</p>
        {% endif %}
        <p>請<a href="/gen_token">點此</a>來發送一封新的認證email，謝謝(`・ω・´)</p>
    {% endif %}

{% endblock %}