{% extends "layout.html" %}

{% block title %}
    瀏覽||編輯
{% endblock %}

{% block main %}
    <div class="" role="alert" id="hintBox"><span id="hintText"></span></div>

    <div id="search">
        <input class="form-control" type="date" name="start" id="start" onchange="setMin()">
        至
        <input class="form-control" type="date" name="end" id="end">
        {% for k, v in groupName %}
        <div class="pretty p-default p-round" name="selectedGroup">
            <input type="checkbox" value="{{ v }}" id="{{ k }}" checked>
            <div class="state p-primary-o">
                <label for="{{ k }}">{{ v }}</label>
            </div>
        </div>
        {% endfor %}

        <button class="btn btn-primary" type="button" onclick="sendTime()">篩選</button>
    </div>
    
    <br>
    <div id="editForm">
        <input class="form-control" type="date" id="ediDate">
        <select class="form-control" id="ediGroup">
            <option selected value="">組別</option>
            {% for k, v in groupName %}
            <option value="{{ k }}">{{ v }}</option>
            {% endfor %}
        </select>
        <input class="form-control" type="text" id="ediNote" maxlength="32" size="32" 
        placeholder="花費內容 (最多32中文字)" autocomplete="off">
        <input class="form-control" type="number" id="ediAmount" min="1" style="width: 7em" 
        placeholder="金額" autocomplete="off">
        
        <button class="btn btn-primary" id="toUpdate">修改</button>
        <button class="btn btn-secondary" onclick="cancelEdit()">算了</button>
        <i class="fas fa-trash-alt fa-lg" id="trashIcon" style="color:#6c757d" 
        data-toggle="modal" data-target="#deleteConfirm"></i>
    </div>
    <br>

    <table class="table table-sm" id="result">
        <thead>
            <th scope="col" class="descend" id="sortDate" onclick="sortRow(0, 'sortDate')">
                日期
                <i class="fas fa-sort fa-sm"></i>
            </th>
            <th scope="col">組別</th>
            <th scope="col">花費內容</th>
            <th scope="col" class="ascend" id="sortAmount" onclick="sortRow(3, 'sortAmount')">
                金額
                <i class="fas fa-sort fa-sm"></i>
            </th>
        </thead>
        <tbody id="row"></tbody>
        <tfoot id="subTotal"></tfoot>
    </table>
    <input type="hidden" id="order" value="asc">

    {# delete row confirm dialog box #}
    <div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="deleteRowLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="deleteRowLabel">確定嗎？</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    真的要刪掉這筆紀錄嗎？<br>
                    提醒：資料刪掉後是無法復原的 (;ﾟдﾟ)σ
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closed">算了</button>
                    <button type="button" class="btn btn-primary" onclick="deleteBill()">確定刪除</button>
                </div>
            </div>
        </div>
    </div>

    {# group filter dialog box #}
    <div class="modal fade" id="groupInTable" tabindex="-1" role="dialog" aria-labelledby="groupFilterLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="groupFilterLabel">組別篩選</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="gFilterBody"></form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="">顯示已勾選的組別</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closed">算了</button>
                </div>
            </div>
        </div>
    </div>

    <footer>
        Icons by <a href="https://fontawesome.com/">fontawesome.com</a> is licensed under <a href="https://fontawesome.com/license">CC BY 4.0</a>
    </footer>
    
    <script src="/static/view-js.js?version=16"></script>
{% endblock %}