{% extends "layout.html" %}

{% block title %}
    歡迎
{% endblock %}

{% block main %}

    <ul class="nav nav-tabs justify-content-center" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="login-tab" href="#tabs-login" data-toggle="tab" role="tab" 
            aria-controls="tabs-login" aria-selected="true">登入</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="register-tab" href="#tabs-register" data-toggle="tab" role="tab" 
            aria-controls="tabs-register" aria-selected="false">註冊</a>
        </li>
    </ul>

    <div class="tab-content">
        {# login tab #}
        <div class="tab-pane fade show active" id="tabs-login" role="tabpanel" aria-labelledby="login-tab"><br>
            <form action="/login" method="post">
                <div class="form-group">
                    <input autocomplete="off" autofocus class="form-control" name="username" id="usernameLogin" 
                    placeholder="輸入使用者帳號" type="text" minlength="8" maxlength="16" required>
                    <small class="form-text" id="hintLogin">查無帳號"<span id="ID"></span>"，<span class="a-mimic" id="goRegister">去註冊？</span></small>
                </div>
                <div class="form-group">
                    <input class="form-control" name="password" placeholder="輸入密碼" type="password" required
                    minlength="8" maxlength="24">
                </div>
                <button class="btn btn-primary" type="submit" id="submitLogin">登入</button>
                <button class="btn btn-secondary" type="button" id="passReset">忘記密碼</button>
            </form>
        </div>
        
        {# register tab #}
        <div class="tab-pane fade" id="tabs-register" role="tabpanel" aria-labelledby="register-tab"><br>
            <div class="alert alert-warning" role="alert" id="hintRegister"><span id="hintText"></span></div>
            
            <form action="/register" method="post" id="registerForm">
                <div class="form-group">
                    <input autofocus class="form-control" type="text" autocomplete="off" 
                    name="username" id="usernameRegister" placeholder="填入使用者名稱" required
                    minlength="8" maxlength="16">
                    <small class="form-text text-muted">長度限制8-16字，至少包含1個英文與1個數字</small>
                </div>
                
                <div class="form-group">
                    <input class="form-control" type="email" autocomplete="off"
                    name="email" id="email" placeholder="填入Email" required>
                    <small class="form-text text-muted">註冊後會發送一封email來啟動帳號，啟動後才能使用完整功能</small>
                </div>
        
                <div class="form-group">
                    <input class="form-control" type="password" autocomplete="off" 
                    name="password" id="pass1" placeholder="填入密碼" required minlength="8" maxlength="24">
                </div>
                
                <div>
                    <input class="form-control" type="password" autocomplete="off" 
                    name="confirmation" id="pass2" placeholder="確認密碼" required minlength="8" maxlength="24">
                    <small class="form-text text-muted">長度限制8-24字，至少包含1個英文與1個數字</small>
                </div>
        
                <br>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit" id="submitRegister">註冊</button>
                </div>
            </form>
        </div>

    </div>

    <script>
        $(
            $("#hintLogin").hide(), // login
            $("#passReset").hide(), // reset password button
            $("#hintRegister").hide() // register
        );

        $($("#goRegister").on("click", function() {
                $("#register-tab").click();
            })
        );

        // login: verify username
        $("#usernameLogin").on("change", function() {
            $("#passReset").hide();
            var username = $(this).val();
            $.ajax({
                url: "/newUser",
                type: "GET",
                data: {"username": username},
                dataType: "json",
                contentType : "application/json",
                success: function(result){
                    if (result == true) {
                        $("#hintLogin").show();
                        $("#ID").html(username);
                        $("#submitLogin").attr("disabled", true);
                    }
                    else {
                        $("#hintLogin").hide();
                        $("#submitLogin").attr("disabled", false);
                        $("#passReset").show();
                    }
                },
            });
        });

        // register: verify username
        $("#usernameRegister").blur(function() {
            var username = $(this).val();
            $.ajax({
                type: "GET",
                url: "/checkUser",
                data: {"username": username},
                dataType: "json",
                contentType : "application/json",
                success: function(result){
                    if (result == "nameContFail") {
                        $("#hintRegister").show();
                        $("#hintText").html("帳號內容不符合規範");
                        $("#submitRegister").attr("disabled", true);
                    }
                    else if (result == "userExist") {
                        $("#hintRegister").show();
                        $("#hintText").html("這個帳號名稱已經有人使用過了，請換一個");
                        $("#submitRegister").attr("disabled", true);
                    }
                    else if (result == "lenFail") {
                        $("#hintRegister").show();
                        $("#hintText").html("帳號長度不符合規範");
                        $("#submitRegister").attr("disabled", true);
                    }
                    else {
                        $("#hintRegister").hide();
                        $("#submitRegister").attr("disabled", false);
                    }
                },
            });
        });

        // register: verify email
        $("#email").blur(function() {
            var maddress = $(this).val();
            $.ajax({
                type: "GET",
                url: "/mailValidate",
                data: {"maddress": maddress},
                dataType: "json",
                contentType : "application/json",
                success: function(result) {
                    if (result == "mailExist") {
                        $("#hintRegister").show();
                        $("#hintText").html("輸入的email已經被使用過了");
                        $("#submitRegister").attr("disabled", true);
                    }
                    else if (result == "mailFail") {
                        $("#hintRegister").show();
                        $("#hintText").html("輸入的email無效，請檢查拼字、或是確認這個email的有效性");
                        $("#submitRegister").attr("disabled", true);
                    }
                    else {
                        $("#hintRegister").hide();
                        $("#submitRegister").attr("disabled", false);
                    }
                },
            });
        });

        // register: verify password
        $("#registerForm").submit(function(event){
            event.preventDefault();
            var pass1 = $("#pass1").val();
            var pass2 = $("#pass2").val();

            if (pass1 == pass2) {
                $.ajax({
                    url: "/checkPass",
                    type: "POST",
                    data: JSON.stringify({"pass1": pass1}),
                    dataType: "json",
                    contentType : "application/json",
                    success: function(result) {
                        if (result == "nameContFail") {
                            $("#hintRegister").show();
                            $("#hintText").html("密碼內容不符合規範");
                        }
                        else if (result == "lenFail") {
                            $("#hintRegister").show();
                            $("#hintText").html("密碼長度不符合規範");
                        }
                        else {
                            $("#hintRegister").hide();
                            $("#registerForm").unbind("submit").submit();
                        }
                    },
                });
            }
            else {
                $("#hintRegister").show();
                $("#hintText").html("密碼與確認密碼的內容不同");
            }
        });

        // Reset password
        $("#passReset").on("click", function() {
                var username = $("#usernameLogin").val();
                // UI show dialog; with animate icon (e.g. circle) and hint text (e.g. sending a reset email to mail address xxx)
                // ajax to backend
                // ajax success, dialog show button
                // press button to clean username input field and hide #passReset
            });
    </script>
{% endblock %}
